body, h1, h2, h3, h4, h5, h6, input, button, textarea {
  font-family: 'Open Sans', sans-serif;
}

h6 {
  font-size: 11px;
  font-weight: bold;
  color: #978057;
  text-transform: uppercase;  
}

.big-icon {
  text-align: center;
  font-size: 6em;
}

@media(max-width: 480px) {
  .big-icon {
    text-align: center;
    font-size: 4em;
  }
  h1 {
    font-size: 18pt;
  }
  h2, h3, h4, h5 {
    font-size: 14pt;
  }
  p {
    font-size: 12pt;
  }
}

.landing-hero {
  margin:30px 0px 30px;
  padding: 20px;
  background-color: #DFEFFF;
}

.screenshot {
  border: solid 1px #DDD;
}

.breadcrumb, .well {
  background-color: #DFEFFF;
}

.breakout {
  padding-left: 0px;
  padding-right: 0px;
}

.breadcrumb i {
  color: #E4D181;
}

.nav-header {
  color: #978057;
}

.navbar { margin-bottom: 20px }
.navbar .navbar-inner {
  border-radius: 0px 0px 3px 3px;
}
.main, .item {
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.hero-unit {
  background-color: #DFEFFF;
}
.hero-unit h1 {
    color: #667F97;
}

.footer {
  padding: 30px 30px;
  margin: 70px 0px 0px;
  border-top: 1px solid #CFDFFF;
  background-color: #DFEFFF;
}

.content-gap {
  margin-top: 70px;
}
