body {
  background: #eef;
  color: #666;
}

body,a,h1,h2,h3,h4,h5,h6,button,input,textarea {
  font-family: 'Titillium Web', sans-serif;
}

h2 {
  font-size: 16px;
}

.navbar { margin-bottom: 10px }
.navbar .navbar-inner {
  border-radius: 0px 0px 3px 3px;
}
.main, .item {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
