<template name="acceptEmailInvite">
  {{> header}}
  <div class="container-fluid">
    <div id="main">
      <div class="row-fluid">
        <div class="span12">
          <h1>Accept Email Invite</h1>
          {{#if currentUser}}
            {{#unless invitedTeam}}
            <h2>Error - Team invitation could not be found</h2>
            <p>The team invitation could not be found. The detail may be incorrect, or the invitation may have been revoked.</p>
            {{/unless}}
            {{#with invitedTeam}}
              <p>Do you want to join team {{name}}? <button id="accept" type="button" class="btn">Accept</button>
              <button id="decline" type="buton" class="btn">Decline</button>
            {{/with}}
          {{else}}
            You are not signed in!
            <a href="{{signInPath}}?redir=acceptEmailInvite">Sign In</a>
            <a href="{{signUpPath}}?redir=acceptEmailInvite">Sign Up</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>