<template name="emailVerified">
  <div class="container-fluid">
    <div id="main">
      {{> breadcrumbHeader}}
      {{> teamLinks}}
      {{> errorNotification}}
      <div class="row-fluid">
        {{> notifications}}
        {{> emailVerifiedBody}}
      </div>
    </div>
  </div>
</template>


<template name="emailVerifiedBody">
  <div class="container-fluid">
    <div id="main">
      <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8">
          {{> errorNotification}}
          <h1>Account Confirmation</h1>
          <div id="confirmation">Your account was confirmed. <a href="{{pathFor 'home'}}">Home</a></div>
        </div>
      <div class="span2"></div>
    </div>
  </div>
</template>