<template name="feature">
  {{> header}}
  <div class="container-fluid">
    <div id="main">
      {{> breadcrumbHeader}}
      <div class="row-fluid">
        {{> notifications}}
        {{> featureBody}}
      </div>
    </div>
  </div>
</template>

<template name="featureBody">
  <div class="span9">
    {{#with currentFeature}}
      <div class="row-fluid">
        <h1>{{name}}</h1>
        <p><button id="editFeature" class="btn">Edit Feature</button></p>
        <p><strong>Owned by:</strong> {{ownedByUsername}}</p>
        <div>{{detail}}</div>
        <h2>Issues</h2>
        <p><button id="createIssue" class="btn">Create Issue</button></p>
        {{#each allIssues}}
          {{> issueList}}
        {{/each}}
      </div>
    {{/with}}
  </div>
</template>
