<template name="feature">
  <div class="container">
    {{> header}}
    <div id="main">
      {{> breadcrumbHeader}}
      <div class="row">
        {{> notifications}}
        {{> featureBody}}
      </div>
    </div>
  </div>
</template>

<template name="featureBody">
  <div class="span9 pull-right">
    {{#with currentFeature}}
      <div class="row">
        <div class="span9">
          <h1>{{name}}</h1>
        </div>
      </div>

      <div class="row">
        <form class="form-inline span9">
          <div class="input-prepend">
            <span class="add-on">Owner</span>
            <input class="span2 uneditable-input" id="prependedInput" type="text" value="{{ownedByUsername}}" />
          </div>
          {{#if isLoggedIn}}
            <button id="createIssue" class="btn pull-right">Create Issue</button>
            <button id="editFeature" class="btn pull-right">Edit Feature</button>
          {{/if}}
        </form>
      </div>

      <div class="row">
        <div class="span9">{{detail}}</div>
      </div>

      <h2>Issues</h2>
      {{#each allIssues}}
        {{> issueList}}
      {{/each}}

    {{/with}}
  </div>
</template>
