<template name="feature">
  {{> header}}
  <div class="container-fluid">
    <div id="main">
      {{> breadcrumbHeader}}
      {{> issueLinks}}
      <div class="row-fluid">
        {{> notifications}}
        {{> featureBody}}
      </div>
    </div>
  </div>
</template>

<template name="issueLinks">
  <div class="row-fluid">
    <ul class="breadcrumb next-nav">
      <li>Issues:</li>
      {{#each allIssues}}
        <li><span class="divider"><i class="icon-ticket"></i></span>{{> issueList}}</li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="featureButtons">
  {{#if action}}
    <button id="editFeature" class="btn" disabled><i class="icon-edit"></i> Edit Feature</button>
    <button id="deleteFeature" class="btn" disabled><i class="icon-trash"></i> Delete Feature</button>
    <button id="createIssue" class="btn" disabled><i class="icon-plus"></i> Create Issue</button>
  {{else}}
    <button id="editFeature" class="btn"><i class="icon-edit"></i> Edit Feature</button>
    <button id="deleteFeature" class="btn" {{disableButtonIfNot ownedByCurrentUser}}><i class="icon-trash"></i> Delete Feature</button>
    <button id="createIssue" class="btn"><i class="icon-plus"></i> Create Issue</button>
  {{/if}}
</template>

<template name="featureBody">
  {{#if notificationCount}}
  <div class="span9">
  {{else}}
  <div class="span12">
  {{/if}}
    {{#with currentFeature}}
      <div class="row-fluid">
        {{> featureButtons}}
        <h1><i class="icon-certificate"></i> {{name}}</h1>
        <div class="input-prepend">
          <span class="add-on">Owner</span>
          <input class="input-large" disabled type="text" value="{{ownedByUsername}}"></input>
        </div>
        <div>{{#markdown}}{{detail}}{{/markdown}}</div>
      </div>
    {{/with}}
  </div>
</template>
