<template name="createFeature">
  <div class="container">
    {{> header}}
    <div id="main">
      {{> breadcrumbHeader}}
      <div class="row">
        {{> notifications}}
        {{> featureForm}}
      </div>
    </div>
  </div>
</template>

<template name="editFeature">
  <div class="container">
    {{> header}}
    <div id="main">
      {{> breadcrumbHeader}}
      <div class="row">
        {{> notifications}}
        {{> featureForm}}
      </div>
    </div>
  </div>
</template>

<template name="featureForm">
  <form id="{{action}}Feature" class="form-horizontal span9">
    <h1>{{capitalize action}} Feature</h1>
    {{#with currentFeature}}
    <input type="hidden" name="teamId" value="{{teamId}}" />
    <input type="hidden" name="projectId" value="{{projectId}}" />
    <input type="hidden" name="_id" value="{{_id}}" />
    <div class="control-group controls-row">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input name="name" class="span6" type="text" maxlength="80" value="{{name}}" />
      </div>
    </div>
    <div class="control-group controls-row">
      <label class="control-label" for="detail">Detail</label>
      <div class="controls">
        <textarea name="detail" class="span6" rows="12">{{detail}}</textarea>
      </div>
    </div>
    <div class="control-group controls-row">
      <label class="control-label" for="ownedByUserId">Owner</label>
      <div class="controls">
        <select name="ownedByUserId" id="ownedByUserId">
          {{#each members}}
            {{> owner}}
          {{/each}}
        </select>
      </div>
    </div>
    {{/with}}
    <div class="form-actions">
      <button type="button" id="{{action}}" class="btn btn-primary"><i class="{{iconify action}} icon-large"></i> {{capitalize action}}</button>
      <button type="button" id="delete" class="btn btn-danger"><i class="icon-trash icon-large"></i> Delete</button>
    </div>
  </form>
</template>