<template name="footer">
<footer class="footer">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <h6>About</h6>
        <p>Created by <a href="http://twitter.com/dcw303">@dcw303</a> at <a href="http://defiantrobot.io">Defiant Robot</a></p>
      </div>
      <div class="span3">
        <h6>Colophon</h6>
        <p>Built with the <a href="//meteor.com">Meteor</a> web framework</p>
      </div>
      <div class="span3">
        <h6>Contact</h6>
        <p>Send an email to <a href="mailto:info@mindmeld.io">info@mindmeld.io</a></p>
      </div>
      <div class="span3">
        <h6>Twitter</h6>
        <p>Follow <a href="//twitter.com/defiantrobot">@defiantrobot</a> for more info</p>
      </div>
    </div>
  </div>
</footer>
</template>