<template name="userHeader">
  <header class="navbar">
    <div class="navbar-inner">
      <div id="header" class="container">
        <a class="brand" href="{{pathFor 'home'}}">Mindmeld</a>
          {{#if otherMembers}}
          <form class="navbar-search pull-left">
            <div class="input-prepend nav">
              <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                  Following
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="follow" data-bind="" href="#">Nobody</a></li>
                  <li class="divider"></li>
                   {{#each otherMembers}}
                   <li><a class="follow" data-bind="{{_id}}" href="">{{username}}</a></li>
                  {{/each}}                  
                </ul>
              </div>
              <input class="span2" id="prependedDropdownButton" type="text" value="{{followingUsername}}"/>
            </div>
          </form>
          {{/if}}
          <ul class="nav pull-right">
            <li><a href="{{pathFor 'user' usernameParams}}">{{username}}</a></li>
            <li><a id="signOut" href="{{pathFor 'signOut'}}">Sign Out</a></li>
          </ul>
      </div>
    </div>
  </header>
</template>

<template name="publicHeader">
  <header class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="{{pathFor 'home'}}">Mindmeld</a>
      </div>
    </div>
  </header>
</template>