<template name="header">
    <header class="navbar">
      <div class="navbar-inner">
        <div class="container">
          {{#if following}}
          <span class="brand">Mindmeld</span>
          {{else}}
          <a class="brand" href="{{homePath}}">Mindmeld</a>
          {{/if}}
          {{#if isLoggedIn}}
            <form class="navbar-search pull-left">
              <div class="input-prepend nav">
                <div class="btn-group">
                  <button class="btn dropdown-toggle" data-toggle="dropdown">
                    Following
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="follow" data-bind="" href="#">Nobody</a></li>
                    <li class="divider"></li>
                    {{#each otherMembers}}
                      {{> followingMember}}
                    {{/each}}
                  </ul>
                </div>
                <input class="span2" style="float: right" id="prependedDropdownButton" type="text" value="{{followingUsername}}"/>
              </div>
            </form>
            <ul class="nav pull-right">
              <li><a href="">{{username}}</a></li>
              <li><a id="signOut" href="">Sign Out</a></li>
          {{/if}}
        </div>
      </div>
    </header>
</template>

<template name="followingMember">
  <li><a class="follow" data-bind="{{_id}}" href="">{{username}}</a></li>
</template>