<template name="home">
  {{> header}}
  <div class="container-fluid">
    <div id="main">
      {{> breadcrumbHeader}}
      <div class="row-fluid">
        {{> notifications}}
        {{> homeBody}}
      </div>
    </div>
  </div>
</template>

<template name="homeBody">
  <div class="span9">
    <div class="row-fluid">
      <h1>Home</h1>
      <p><button id="createTeam" class="btn">Create Team</button></p>
      {{> myTeams}}
      {{> myProjects}}
      {{> myFeatures}}
      {{> myIssues}}
    </div>
  </div>
</template>
