<template name="homePublic">
  {{> header}}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="hero-unit span8">
        <h1>Read their minds</h1>
        <p>Start working with Mindmeld, the realtime collaborative issue tracker. It's built from the ground up to clearly communicate the features and issues that make up the software projects you work on. Start working with Mindmeld, the realtime collaborative issue tracker. It's built from the ground up to clearly communicate the features and issues that make up the software projects you work on.</p> 
      </div>
      <div class="span4">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h2>Turbo charge your team collaboration</h2>
        <p>Subscribe to updates, and be the first to trial the public beta free of charge.</p>
        <form class="form-inline">
          <input type="text" class="input-large" placeholder="your email address" name="subscriptionEmail" />
          <button class="btn btn-success">Subscribe</button>
        </form>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <h2>Follow Me</h2>
        <p>Keep everyone in your team on the same page. As you move through the site, they follow. You'll never have to copypasta issue links again.</p>
      </div>
      <div class="span4">
        <h2>Instant Updates</h2>
        <p>Any changes to your projects, features, and issues are automatically delivered to your browser, no refresh required. Your team will always see the latest version of anything you're working on.
      </div>
      <div class="span4">
        <h2>Get out of the way</h2>
        <p>There's no enforcement of agile methodologies or cumbersome project management procedures. A simple workflow frees your team up from fighting with your issue tracking system.</p>
      </div>
    </div>
  </div>
</template>