<template name="inviteUser">
  <div class="container-fluid">
    <div id="main">
      {{> breadcrumbHeader}}
      {{> projectLinks}}
      {{> errorNotification}}
      <div class="row-fluid">
        {{> notifications}}
        {{> inviteUserForm}}
      </div>
    </div>
  </div>
</template>

<template name="inviteUserForm">
  {{#if notificationCount}}
  <div class="span9">
  {{else}}
  <div class="span12">
  {{/if}}
    <h2 id="remainingInviteCount">Remaining invites available: </h2>
    <div class="row-fluid">
      <div class="span6">
        <h3>Invite Users by username</h3>
        <p class="notification"><em>Users who have chosen to make their profiles public are visible</em></p>
        <input type="hidden" id="inviteByUsername" tabindex="1" />
      </div>
      <div class="span6">    
        <h3>Invite Users by email</h3>
        <p class="notification"><em>Invitations will be sent to the email address(es) entered</em></p>
        <input type="hidden" id="inviteByEmail" tabindex="2" />
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 text-center">
        <button type="button" id="invite-users" class="btn btn-primary" tabindex="3"><i class="icon-user"></i> Invite Users</button>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
      {{#with currentTeam}}
        <input type="hidden" id="teamId" value="{{_id}}"/>
        <h3> {{getTeamInvites.count}} Invites outstanding:</h3>
        <div class="tabbable">
          {{> tabHeaders}}
          <div class="tab-content">
            <div class="tab-pane active" id="tab-outstanding-invites-by-username">
              {{> teamInvitesWithUsernameTable}}
            </div>
            <div class="tab-pane" id="tab-outstanding-invites-by-email">
              {{> teamInvitesWithEmailTable}}
            </div>
          </div>
        </div>
      {{/with}}
      </div>
    </div>
  </div>
</template>

<template name="teamInvitesWithUsernameTable">
  <form name="usernameInvitesForm">
  <table class="table table-striped">
    {{#if getTeamInvitesWithUsername.count}}
      <tr>
        <td class="span10">Username</td>
        <td class="span2"></td>
      </tr>
      {{#each getTeamInvitesWithUsername}}
      <tr>
        <td class="span10">{{username}}</td>
        <td class="span1"><div class="text-center"><button type="button" class="btn revokeByUsername" data-username="{{username}}"><i data-username="{{username}}" class="icon-remove"></i> Revoke</button></div></td>
      </tr>
      {{/each}}
    {{else}}
      <tr>
        <td><div class="text-center"><em>No invites by username</em></div></td>
      </tr>
    {{/if}}
  </table>
  </form>
</template>

<template name="tabHeaders">
  <ul class="nav nav-tabs" id="mytabs">
    <li><a href="#tab-outstanding-invites-by-username">By Username <span class="badge" id="usernameInviteCount">{{getTeamInvitesWithUsername.count}}</span></a></li>
    <li><a href="#tab-outstanding-invites-by-email">By Email <span class="badge" id="emailInviteCount">{{getTeamInvitesWithEmail.count}}</span></a></li>
  </ul>
</template>

<template name="teamInvitesWithEmailTable">
  <table class="table table-striped">
    {{#if getTeamInvitesWithEmail.count}}
      <tr>
        <td class="span10">Email</td>
        <td class="span2"></td>
      </tr>
      {{#each getTeamInvitesWithEmail}}
      <tr>
        <td class="span10">{{email}}</td>
        <td class="span2"><div class="text-center"><button type="button" class="btn revokeByEmail" data-email="{{email}}"><i data-email="{{email}}" class="icon icon-remove"></i> Revoke</button></div></td>
      </tr>
      {{/each}}
    {{else}}
      <tr>
        <td><div class="text-center"><em>No invites by email</em></div></td>
      </tr>
    {{/if}}
  </table>
</template>