<template name="issue">
  {{> header}}
  <div class="container-fluid">
    <div id="main">
      {{> breadcrumbHeader}}
      <div class="row-fluid">
        {{> notifications}}
        {{> issueBody}}
      </div>
    </div>
  </div>
</template>

<template name="issueBody">
  {{#if notificationCount}}
  <div class="span9">
  {{else}}
  <div class="span12">
  {{/if}}
    {{#with currentIssue}}
      <div class="row-fluid">
        <h1>{{name}}</h1>
        <button id="editIssue" class="btn"><i class="icon-edit"></i> Edit Issue</button>
        <input type="hidden" name="_id" value="{{_id}}" />
        {{#if ownedByCurrentUser}}
          {{#if statusNotStarted}}
            <button id="startIssue" class="btn">Start</button>
          {{/if}}
          {{#if statusInProgress}}
            <button id="cancelIssue" class="btn">Cancel</button>
            <button id="completeIssue" class="btn">Complete</button>
          {{/if}}
          {{#if statusCompleted}}
            <button id="startIssue" class="btn">Restart</button>
          {{/if}}
          {{#if statusCancelled}}
            <button id="startIssue" class="btn">Restart</button>
          {{/if}}
        {{/if}}
        <br /><br />

        <p><strong>Owned by:</strong> {{ownedByUsername}} <strong>Status:</strong> {{statusDisplay}}<br>
          {{{iconTags}}}</p>
        <div class="issueDetail well">
          {{#markdown}}{{detail}}{{/markdown}}
        </div>
        <h2>Comments ({{issueComments.count}})</h2>
        {{#each issueComments}}
          <div class="item">
            <div class="well">
              {{_id}}<br />
              {{createdByUsername}}<br />
              {{momentTimeAgoCreatedAt}}<br />
            </div>
            {{#if currentUserOwnsComment}}
              <a data-item="{{_id}}" class="comment-close pull-right" href="#">&times;</a>
            {{/if}}
            {{#markdown}}{{comment}}{{/markdown}}
          </div>
        {{/each}}
        <form id="newComment">
          <textarea name="newComment" autofocus="autofocus" class="span12" rows="6"></textarea>
          <button type="submit" class="btn btn-primary"><i class="icon-plus"></i> Add Comment</button>
        </form>
      </div>
    {{/with}}
  </div>
</template>
