<template name="createIssue">
  <div class="container">
    {{> header}}
    <div id="main">
      {{> breadcrumbHeader}}
      <div class="row">
        {{> notifications}}
        {{> issueForm}}
      </div>
    </div>
  </div>
</template>  

<template name="editIssue">
  <div class="container">
    {{> header}}
    <div id="main">
      {{> breadcrumbHeader}}
      <div class="row">
        {{> notifications}}
        {{> issueForm}}
      </div>
    </div>
  </div>
</template>

<template name="issueForm">
  {{curentIssue.name}}
  <form id="{{action}}Issue" class="form-horizontal span9">
    <h1>{{capitalize action}} Issue</h1>
    {{#with currentIssue}}
      <input type="hidden" name="action" value="{{action}}" />
      <input type="hidden" name="teamId" value="{{teamId}}" />
      <input type="hidden" name="projectId" value="{{projectId}}" />
      <input type="hidden" name="featureId" value="{{featureId}}" />
      <input type="hidden" name="_id" value="{{_id}}" />
      <div class="control-group controls-row">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
          <input name="name" class="span6" type="text" maxlength="80" value="{{name}}" />
        </div>
      </div>
      <div class="control-group controls-row">
        <label class="control-label" for="detail">Detail</label>
        <div class="controls">
          <textarea name="detail" class="span6" rows="12">{{detail}}</textarea>
        </div>
      </div>
    {{/with}}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary"><i class="{{iconify action}} icon-large"></i> {{capitalize action}}</button>
      <button type="button" id="delete" class="btn btn-danger"><i class="icon-trash icon-large"></i> Delete</button>
    </div>
  </form>
</template>

<template name="owner">
  <option value="{{_id}}">{{username}}</option>
</template>

<template name="assignee">
  <option value="{{_id}}">{{username}}</option>
ß</template>