<template name="notifications">
  {{#if notificationsCount}}
    <div class="span3">
      <ul class="nav nav-list">
        <li class="nav-header">Activity</li>
        {{#each notifications}}
          {{> notification}}
        {{/each}}
      </ul>
    </div>
  {{/if}}
</template>

<template name="notification">
    <li>
      <p>
      <a data-item="{{_id}}" class="close pull-right" href="#">&times;</a>
      <a href="{{pathFor 'user' createdByUsernameParams}}">{{createdByUsername}}</a> {{pastTense action oldStatus newStatus}} {{entity}} 
      {{#if isComment}} to {{/if}}
      {{#if isTeam}}
      <a href="{{pathFor 'team' asTeamParams}}">
      {{/if}}
      {{#if isProject}}
      <a href="{{pathFor 'project' asProjectParams}}">
      {{/if}}
      {{#if isFeature}}
      <a href="{{pathFor 'feature' asFeatureParams}}">
      {{/if}}
      {{#if isIssue}}
      <a href="{{pathFor 'issue' asIssueParams}}">
      {{/if}}
      {{#if isComment}}
      <a href="{{pathFor 'issue' asIssueParams}}">
      {{/if}}
        {{name}}
      </a> <em>{{momentTimeAgoCreatedAt}}</em></p>
      </li>
      <li class="divider"></li>
</template>