<template name="notifications">
  {{#if notifications.count}}
    <div class="span3">
      <ul class="nav nav-list">
        <li class="nav-header">Activity</li>
        {{#each notifications}}
          {{> notification}}
        {{/each}}
      </ul>
    </div>
  {{/if}}
</template>

<template name="notification">
    <li>
      <p>
      <a data-item="{{_id}}" class="close pull-right" href="#">&times;</a>
      <a href="{{pathFor 'user' createdByUsernameParams}}">{{createdByUsername}}</a> {{pastTense action oldStatus newStatus}} {{entity}} 
      {{#if isComment}} to {{/if}}
      {{#if isTeam}}
      <a href="{{pathFor 'team' asTeamParams}}#{{_id}}">
      {{/if}}
      {{#if isProject}}
      <a href="{{pathFor 'project' asProjectParams}}#{{_id}}">
      {{/if}}
      {{#if isFeature}}
      <a href="{{pathFor 'feature' asFeatureParams}}#{{_id}}">
      {{/if}}
      {{#if isIssue}}
      <a href="{{pathFor 'issue' asIssueParams}}#{{_id}}">
      {{/if}}
      {{#if isComment}}
      <a href="{{pathFor 'issue' asIssueParams}}#{{commentId}}">
      {{/if}}
        {{name}}
      </a> <em>{{momentTimeAgoCreatedAt}}</em></p>
      </li>
      <li class="divider"></li>
</template>