<template name="notifications">
  <div class="span3">
    <h4>Activity</h4>
    {{#each notifications}}
      {{> notification}}
    {{/each}}
  </div>
</template>

<template name="notification">
    <div class="item activity">
      <a href="/users/">{{createdByUsername}}</a> {{pastTense action oldStatus newStatus}}  {{entity}}<br /> 
      {{#if isTeam}}
      <a href="{{teamPath teamCode}}#{{_id}}">
      {{/if}}
      {{#if isProject}}
      <a href="{{projectPath teamCode projectCode}}#{{_id}}">
      {{/if}}
      {{#if isFeature}}
      <a href="{{featurePath teamCode projectCode featureCode}}#{{_id}}">
      {{/if}}
      {{#if isIssue}}
      <a href="{{issuePath teamCode projectCode featureCode issueCode}}#{{_id}}">
      {{/if}}
        {{name}}
      </a><br />
       <em>{{momentTimeAgoCreatedAt}}</em></div>
</template>