<template name="project">
  {{> breadcrumbHeader}}
  <div class="row">
    {{> notifications}}
    {{> projectBody}}
  </div>
</template>

<template name="createMilestone">
  {{> breadcrumbHeader}}
  <div class="row">
    {{> notifications}}
    {{> milestoneForm}}
  </div>
</template>

<template name="projectBody">
  <div class="span9 pull-right">
    {{#with currentProject}}
      <div class="row">
        <div class="span9">
          <h2>{{name}}</h2>
        </div>
      </div>

      <div class="row">
        <form class="form-inline span9">
          {{#if isLoggedIn}}
            <button id="createMilestone" class="btn pull-right">Create Milestone</button>
            <button id="editProject" class="btn pull-right">Edit Project</button>
          {{/if}}
        </form>
      </div>

      <div class="row">
        <div class="span9">{{detail}}</div>
      </div>

      <h2>Milestones</h2>
      {{#each allMilestones}}
        {{> milestoneList}}
      {{/each}}

    {{/with}}
  </div>
</template>
