<template name="project">
  <div class="container">
    {{> header}}
    <div id="main">
      {{> breadcrumbHeader}}
      <div class="row">
        {{> notifications}}
        {{> projectBody}}
      </div>
    </div>
  </div>
</template>

<template name="projectBody">
  <div class="span9 pull-right">
    {{#with currentProject}}
      <div class="row">
        <div class="span9">
          <h1>{{name}}</h1>
        </div>
      </div>

      <div class="row">
        <form class="form-inline span9">
          {{#if isLoggedIn}}
            <button id="createFeature" class="btn pull-right">Create Feature</button>
            <button id="editProject" class="btn pull-right">Edit Project</button>
          {{/if}}
        </form>
      </div>

      <div class="row">
        <div class="span9">{{detail}}</div>
      </div>

      <h2>Features</h2>
      {{#each allFeatures}}
        {{> featureList}}
      {{/each}}

    {{/with}}
  </div>
</template>
