<template name="project">
  {{> header}}
  <div class="container-fluid">
    <div id="main">
      {{> breadcrumbHeader}}
      <div class="row-fluid">
        {{> notifications}}
        {{> projectBody}}
      </div>
    </div>
  </div>
</template>

<template name="projectBody">
  {{#with currentProject}}
  <div class="span9">
    <div class="row-fluid">
      <h1>{{name}}</h1>
      <button id="editProject" class="btn"><i class="icon-edit"></i> Edit Project</button>
      <button id="createFeature" class="btn"><i class="icon-plus"></i> Create Feature</button>
      <br /><br />

      <div class="row-fluid">
        <div class="span8">  
          <div>{{detail}}</div>
          <h2>Not Started Issues by Ranking</h2>
          <ul id="sortableIssueList" class="nav nav-list">
            {{#each notStartedIssuesByRanking}}
              <li id="{{_id}}">
                <i class="icon-sort pull-right"></i><a href="{{issuePath teamCode projectCode featureCode code}}">{{name}}</a>
              </li>
            {{/each}}
          </ul>

        </div>
        <div class="span4">
          <h2>Features</h2>
          {{#each allFeatures}}
            {{> featureList}}
          {{/each}}
        </div>
      </div>

      <div class="row-fluid">
        <h2>Issues in Project</h2>
        <div class="row-fluid">
          <div class="span3">
            <ul class="nav nav-list">
              <li class="nav-header"><span class="label label-important">{{notStartedIssuesInProject.count}}</span> Not Started</li>
              {{#each notStartedIssuesInProject}}
                <li class="item"><a href="{{issuePath teamCode projectCode featureCode code}}">{{name}}</a></li>
              {{/each}}
            </ul>
          </div>
          <div class="span3">
            <ul class="nav nav-list">
              <li class="nav-header"><span class="label label-info">{{inProgressIssuesInProject.count}}</span> In Progress</li>
              {{#each inProgressIssuesInProject}}
                <li class="item"><a href="{{issuePath teamCode projectCode featureCode code}}">{{name}}</a></li>
              {{/each}}
            </ul>
          </div>
          <div class="span3">
            <ul class="nav nav-list">
              <li class="nav-header"><span class="label label-success">{{completedIssuesInProject.count}}</span> Completed</li>
              {{#each completedIssuesInProject}}
                <li class="item"><a href="{{issuePath teamCode projectCode featureCode code}}">{{name}}</a></li>
              {{/each}}
            </ul>
          </div>
          <div class="span3">
            <ul class="nav nav-list">
              <li class="nav-header"><span class="label label-warning">{{cancelledIssuesInProject.count}}</span> Cancelled</li>
              {{#each cancelledIssuesInProject}}
                <li class="item"><a href="{{issuePath teamCode projectCode featureCode code}}">{{name}}</a></li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/with}}
</template>
