<template name="createProject">
  {{> header}}
  <div class="container-fluid">
    <div id="main">
      {{> breadcrumbHeader}}
      <div class="row-fluid">
        {{> notifications}}
        {{> projectForm}}
      </div>
    </div>
  </div>
</template>

<template name="editProject">
  {{> header}}
  <div class="container-fluid">
    <div id="main">
      {{> breadcrumbHeader}}
      <div class="row-fluid">
        {{> notifications}}
        {{> projectForm}}
      </div>
    </div>
  </div>
</template>

<template name="projectForm">
  {{#if notificationCount}}
  <div class="span9">
  {{else}}
  <div class="span12">
  {{/if}}
    <div class="row-fluid">
      <h1>{{capitalize action}} Project</h1>
      <form id="{{action}}Project">
        <fieldset>
        {{#with currentProject}}
          <input type="hidden" name="action" value="{{action}}" />
          <input type="hidden" name="teamId" value="{{teamId}}" />
          <input type="hidden" name="_id" value="{{_id}}" />
          <label for="name">Name</label>
          <input name="name" class="span12" type="text" maxlength="80" value="{{name}}" />
          <label for="detail">Detail</label>
          <textarea name="detail" class="span12" rows="12">{{detail}}</textarea>
        {{/with}}
        </fieldset>
        <div class="pull-right">
          <button type="submit" class="btn btn-primary"><i class="{{iconify action}} icon-large"></i> {{capitalize action}}</button>
          <button type="button" id="delete" class="btn btn-danger"><i class="icon-trash icon-large"></i> Delete</button>
        </div>
      </form>
    </div>
  </div>
</template>