<template name="createProject">
  {{> header}}
  <div class="container-fluid">
    <div id="main">
      {{> breadcrumbHeader}}
      {{> featureLinks}}
      {{> errorNotification}}
      <div class="row-fluid">
        {{> notifications}}
        {{> projectForm}}
      </div>
    </div>
  </div>
</template>

<template name="editProject">
  {{> header}}
  <div class="container-fluid">
    <div id="main">
      {{> breadcrumbHeader}}
      {{> featureLinks}}
      <div class="row-fluid">
        {{> notifications}}
        {{> projectForm}}
      </div>
    </div>
  </div>
</template>

<template name="projectForm">
  {{#if notificationCount}}
  <div class="span9">
  {{else}}
  <div class="span12">
  {{/if}}
    <div class="row-fluid">
      {{#with currentProject}}
        {{> projectButtons}}
        <form id="{{action}}Project">
          <fieldset>
            <input type="hidden" name="action" value="{{action}}" />
            <input type="hidden" name="teamId" value="{{teamId}}" />
            <input type="hidden" name="_id" value="{{_id}}" />
            <h1 class="pull-left"><i class="icon-wrench"></i></h1>
            <input name="name" id="name-input" class="pull-left span11" type="text" maxlength="80" value="{{name}}" autofocus tabindex="1" />
            <textarea name="detail" class="span12" rows="12">{{detail}}</textarea>
          </fieldset>
          <div>
            <button type="button" id="{{action}}" class="btn btn-primary"><i class="{{iconify action}} icon-large"></i> {{capitalize action}}</button>
            <button type="button" id="cancel" class="btn btn-warning" tabindex="5"><i class="icon-remove icon-large"></i> Cancel</button>
          </div>
        </form>
      {{/with}}
    </div>
  </div>
</template>