<template name="tag">
  <div class="container-fluid">
    <div id="main">
      {{> breadcrumbHeader}}
      {{> errorNotification}}
      <div class="row-fluid">
        {{> notifications}}
        {{> tagBody}}
      </div>
    </div>
  </div>
</template>

<template name="tagBody">
  {{#if notificationsCount}}
  <div class="span9">
  {{else}}
  <div class="span12">
  {{/if}}
      <div class="row-fluid">
        <h1><i class="icon-tags"></i> Issues tagged with '{{currentTag.tag}}'</h1>
        <div class="row-fluid">
          <div class="span3">
            <h3>Not Started <span class="label label-important">{{notStartedIssuesWithTagCount}}</span></h3>
            {{#each notStartedIssuesWithTag}}
              <div class="issue">
                <a href="{{pathFor 'issue' issueParams}}">{{name}}</a><br />
                <strong>{{ownedByUsername}}</strong>
              </div>
            {{/each}}
          </div>
          <div class="span3">
            <h3>In Progress <span class="label label-info">{{inProgressIssuesWithTagCount}}</span></h3>
            {{#each inProgressIssuesWithTag}}
              <div class="issue">
                <a href="{{pathFor 'issue' issueParams}}">{{name}}</a><br />
                <strong>{{ownedByUsername}}</strong>
              </div>
            {{/each}}
          </div>
          <div class="span3">
            <h3>Completed <span class="label label-success">{{completedIssuesWithTagCount}}</span></h3>
            {{#each completedIssuesWithTag}}
              <div class="issue">
                <a href="{{pathFor 'issue' issueParams}}">{{name}}</a><br />
                <strong>{{ownedByUsername}}</strong>
              </div>
            {{/each}}
          </div>
          <div class="span3">
            <h3>Cancelled <span class="label label-warning">{{cancelledIssuesWithTagCount}}</span></h3>
            {{#each cancelledIssuesWithTag}}
              <div class="issue">
                <a href="{{pathFor 'issue' issueParams}}">{{name}}</a><br />
                <strong>{{ownedByUsername}}</strong>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
  </div>
</template>
