<template name="team">
  {{> header}}
  <div class="container-fluid">
    <div id="main">
      {{> breadcrumbHeader}}
      <div class="row-fluid">
        {{> notifications}}
        {{> teamBody}}
      </div>
    </div>
  </div>
</template>

<template name="teamBody">
  {{#if notificationCount}}
  <div class="span9">
  {{else}}
  <div class="span12">
  {{/if}}
    {{#with currentTeam}}
      <div class="row-fluid">

        <div class="row-fluid">
          <div class="span8">
            <h1>{{name}}</h1>
            <button id="editTeam" alt="Edit Team" class="btn"><i class="icon-edit"></i> Edit Team</button>
            <button id="createProject" class="btn"><i class="icon-plus"></i> Create Project</button>
            <br /><br />
            <div>{{detail}}</div>
            <h2>Tags by Count</h2>
            <ul class="nav nav-list">
              {{#each teamTags}}
              <li class="divider"></li>
              <li><a href="{{tagPath teamCode tag}}"><span class="badge badge-info">{{count}}</span> {{tag}}</a>
                <span class="label label-important">{{notStartedIssuesWithTagCount}} Not Started</span> 
                <span class="label label-info">{{inProgressIssuesWithTagCount}} in progress</span> 
                <span class="label label-success">{{completedIssuesWithTagCount}} completed</span> 
                <span class="label label-warning">{{cancelledIssuesWithTagCount}} cancelled</span></li>
              {{/each}}
            </ul>
          </div>
          <div class="span4">
            <h2>Projects</h2>
            {{#each allProjects}}
              {{> projectList}}
            {{/each}}
          </div>
        </div>
      </div>
    {{/with}}
  </div>
</template>
