<template name="team">
  {{> teamHeader}}
  <div class="row">
    {{> notifications}}
    {{> teamBody}}
  </div>
</template>

<template name="createProject">
  {{> teamHeader}}
  <div class="row">
    {{> notifications}}
    {{> projectForm}}
  </div>
</template>

<template name="teamHeader">
  {{#with currentTeam}}
  <div class="row">
    <div class="span12">
      <h1>
        <a href="{{homePath}}">Home</a> > 
        <a href="{{teamPath code}}">{{name}}</a></h1>
    </div>
  </div>
  {{/with}}
</template>

<template name="teamBody">
  <div class="span9 pull-right">
    {{#with currentTeam}}
      <div class="row">
        <div class="span9">
          <h2>{{name}}</h2>
        </div>
      </div>

      <div class="row">
        <form class="form-inline span9">
          {{#if isLoggedIn}}
            <button id="createProject" class="btn pull-right">Create Project</button>
            <button id="editTeam" class="btn pull-right">Edit Team</button>
          {{/if}}
        </form?
      </div>

      <div class="row">
        <div class="span9">{{detail}}</div>
      </div>

      <h2>Projects</h2>
      {{#each allProjects}}
        {{> projectList}}
      {{/each}}
    </div>
  {{/with}}
</template>
