<template name="editTeam">
  {{> breadcrumbHeader}}
  <div class="row">
    {{> notifications}}
    {{> teamForm}}
  </div>
</template>

<template name="teamForm">
  <form id="{{action}}Team" class="form-horizontal span9">
    <h2>{{capitalize action}} Team</h2>
    {{#with currentTeam}}
      <input type="hidden" name="action" value="{{action}}" />
      <input type="hidden" name="_id" value="{{_id}}" />

      <div class="control-group controls-row">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
          <input name="name" class="span6" type="text" maxlength="80" value="{{name}}" />
        </div>
      </div>
      <div class="control-group controls-row">
        <label class="control-label" for="detail">Detail</label>
        <div class="controls">
          <textarea name="detail" class="span6" rows="12">{{detail}}</textarea>
        </div>
      </div>
    {{/with}}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary"><i class="{{iconify action}} icon-large"></i> {{capitalize action}}</button>
      <button type="button" id="delete" class="btn btn-danger"><i class="icon-trash icon-large"></i> Delete</button>
    </div>
  </form>
</template>