<template name="team">
  {{> breadcrumbHeader}}
  <div class="row">
    {{> notifications}}
    {{> teamBody}}
  </div>
  {{logMovement}}
</template>

<template name="createProject">
  {{> breadcrumbHeader}}
  <div class="row">
    {{> notifications}}
    {{> projectForm}}
  </div>
</template>

<template name="teamBody">
  <div class="span9 pull-right">
    {{#with currentTeam}}
      <div class="row">
        <div class="span9">
          <h1>{{name}}</h1>
        </div>
      </div>

      <div class="row">
        <form class="form-inline span9">
          {{#if isLoggedIn}}
            <button id="createProject" class="btn pull-right">Create Project</button>
            <button id="editTeam" class="btn pull-right">Edit Team</button>
          {{/if}}
        </form?
      </div>

      <div class="row">
        <div class="span9">{{detail}}</div>
      </div>

      <h2>Projects</h2>
      {{#each allProjects}}
        {{> projectList}}
      {{/each}}
    </div>
  {{/with}}
</template>
